<header class="bg-white">
  <div class="flex justify-content-between align-items-center w-10 m-auto">
    <app-logo class="pt-1"></app-logo>
    <div class="flex gap-4">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-user" style="color: #708090"></i>
        <span>Бильбо Сумкин</span>
      </div>
      <div class="flex align-items-center gap-2">
        <i class="pi pi-sign-out" style="color: #708090"></i>
        <span>Выход</span>
      </div>
    </div>
  </div>
</header>
